*{
  margin: 0;
  padding: 0;
}

#container{
  width: 50%;
  max-width: 2000px;
  min-width: 2000px;
  margin: 0 auto;
}

h1 {
  color: #010079;
  text-shadow: 0 0 5px white;
  padding: 0.3em 0.5em;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

h2 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

.dannraku1 {
  margin: 10px;
padding: 0px;
    }

    .dannraku2 {
      margin-top: 10px;
    padding: 0px;
    margin-bottom:15px;
        }

        h3 {
    background: #b0dcfa; /*背景色*/
    padding: 0.5em;/*文字周りの余白*/
    color: white;/*文字を白に*/
    border-radius: 0.5em;/*角の丸み*/
  }
